body, html { 
    margin: 0;
    font-size: 12px; 
    font-weight: 400;
    background: #282c34;
}
.content { 
    background: #282c34;
    color: #dce0ff;
}

$font-family-sans-serif: 'Montserrat', sans-serif;

@import './../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900|Satisfy&display=swap&subset=cyrillic');

@import '_app';
@import '_header';
@import '_weather';
@import '_posts'; 

 

